body{
    margin: 0 auto;
    max-width: 1150px;
}
.card-container{
    border : 2px dashed lime;
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card-section{
    border : 2px dotted red;
    text-align: center;
}

.card{
    width: 300px;
    border: 3px solid blue;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 20px black;



}

.card:hover{
    background-color: yellow;
}
.card img{
    width: 100%;
    border-radius: 50%;

}
.card button{
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: lime;

}
.card button:hover{
    background-color: Red;
}