*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.fonts-open-sans{
                font-family: "Open Sans", sans-serif;
                font-optical-sizing: auto;


            }

.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-weight: bold;
    font-size: 20px;
}


header{
    background-color: #e1ab7d;
    padding-top: 50px;
}

nav{
    width: 71%;
    display: flex;
    max-width: 1140px;
    /*border: 2px solid red;*/
    margin :0px auto;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px ;

    align-items: center;
}
nav .menu a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}