*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.font-inter{
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;

        }

.circle-design .core{
    width:6px;
    height: 6px;
    background: #30B868FF;
    border-radius:100%;


}
.circle-design .middle{
    width: 14px;
    height: 14px;
    background: #30B86866;
    border-radius:100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.circle-design .outer{
    width: 22px;
    height: 22px;
    background: #30B86833;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-topper{
    display: flex;
    /*align-items: center;*/
    background: white;
    border-radius: 1000px;
    max-width: 229px;
    margin: 0 auto;

    margin-top: 115px;
    text-align: center;
    padding: 8px 12px;

}
#banner .banner-topper p{
    display: inline;
    color: #30B868;
    font-size: 16px;
}


nav{
    display: flex;
    width: 100%;
    max-width: 1600px;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    padding-top: 16px;

}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;

}
nav .menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.btn{
    padding: 12px 16px;
    border: none;
    background-color: #30B868;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 600;


}

.banner-content{
    text-align: center;

}


#banner{
    background-image: url("../images/hero-bg.png");
    height: 674px;
    margin: 0px;
    border-top: 1px solid transparent;
    background-repeat: no-repeat;

}

#banner .banner-content h1{
    font-size: 72px;
    font-weight: bold;
    max-width: 770px;
    color: white;
    padding-top: 16px;
    margin: 0 auto;

}
#banner .banner-content .banner-heading h1 span{
    color: #30B868;

}
#banner .banner-content {
    align-items: center;
}
#banner .banner-content .banner-text p{
    max-width: 700px;
    margin: 0 auto;
    color: white;
    line-height: 24px;

    font-size: 18px;
    padding-top: 16px;

}

.banner-btn {
    padding: 32px;

}

.banner-btn .btn{
    margin-right: 16px;
}

.banner-btn .transparent{
    background: transparent;
    border: 1px solid white;

}


