*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.font-inter{
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;

        }

.circle-design .core{
    width:6px;
    height: 6px;
    background: #30B868FF;
    border-radius:100%;


}
.circle-design .middle{
    width: 14px;
    height: 14px;
    background: #30B86866;
    border-radius:100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.circle-design .outer{
    width: 22px;
    height: 22px;
    background: #30B86833;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-topper{
    display: flex;
    /*align-items: center;*/
    background: white;
    border-radius: 1000px;
    max-width: 229px;
    margin: 0 auto;

    margin-top: 115px;
    text-align: center;
    padding: 8px 12px;

}
#banner .banner-topper p{
    display: inline;
    color: #30B868;
    font-size: 16px;
}


nav{
    display: flex;
    width: 100%;
    max-width: 1600px;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;

}
nav .menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.btn{
    padding: 12px 16px;
    border: none;
    background-color: #30B868;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    align-items: center;
    font-weight: 600;


}

.btn:hover{
    background-color: blue;
}

.banner-content{
    text-align: center;

}


#banner{
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    height: 674px;
    margin: 0px;
    border-top: 1px solid transparent;
    background-repeat: no-repeat;

}

#banner .banner-content h1{
    font-size: 72px;
    font-weight: bold;
    max-width: 770px;
    color: white;
    padding-top: 16px;
    margin: 0 auto;

}
#banner .banner-content .banner-heading h1 span{
    color: #30B868;

}
#banner .banner-content {
    align-items: center;
}
#banner .banner-content .banner-text p{
    max-width: 700px;
    margin: 0 auto;
    color: white;
    line-height: 24px;

    font-size: 18px;
    padding-top: 16px;

}

.banner-btn {
    padding: 32px;

}

.banner-btn .btn{
    margin-right: 16px;
}

.banner-btn .btn:hover{
    background-color: red;
}

.banner-btn .transparent{
    background: transparent;
    border: 1px solid white;

}


.section-heading{
    margin: 0 auto;
    text-align: center;

}

.section-heading h1{
    font-size: 48px;
    font-weight: bold;
}

.section-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-top: 16px;
}

.note-box .note-card img{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 100%;



}

.note-box{
    display: flex;
    margin: 0 auto;
    max-width: 1360px;
    gap: 24px;

}
.note-box .note-card{
    /*border: 1px solid red;*/
    border-radius: 8px;
    text-align: center;
    padding: 69px 24px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2) ;

}
.note-box .note-card h2{
    font-size: 24px;
    font-weight: 600;
    padding-top: 16px;
}
.note-box .note-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.note-box{
    margin-top: 44px;
}

#second-brain .second-brain-container{
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    padding:120px;
    gap: 60px;
}

#second-brain .second-brain-container #second-brain-image{
    height: 600px;
    width: 600px;
}

#second-brain-title{
    font-size: 16px;
    line-height: 20px;
    color:#30B868;

}
.second-heading-content{
    padding-top: 102px;
    max-width: 770px;
}
.second-heading-content h1{
    font-size: 48px;
    font-weight: bold;
    padding: 16px 0px 16px;
}

.second-heading-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
#second-brain-checks{
    padding-top: 40px;
}
#second-brain-checks img{

    height: 20px;
    width: 20px;

}
#second-brain-checks  li{
    display: flex;
    gap: 6px;
    padding-bottom: 16px;
}
#second-brain-checks li p{
    display: inline-block;

    font-size: 16px;
}
#second-brain-checks li{
    list-style: none;
}

#think-more{
    height: 506px;
}

.think-more-container{
    background-color: #F7F6F2;
    max-width: 1360px;
    margin: 0 auto;
    border-radius: 10px;
}
.think-more-container .section-heading{
    padding-top: 80px ;
    padding-bottom: 24px ;
}
.think-more-container ul{
    /*list-style: none;*/
    padding-top: 16px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
    color: #627382;
}
.think-more-content{
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
    padding-bottom: 80px;
}

.think-more-content .btn{
    box-shadow: 0 10px 20px rgba(0,0,0,.15);

}

footer{
    background: #001931;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px;
}
.social{
    color: white;
}
.icons{
    padding-top: 16px;
}
.copyright{
    color: #FAFAFA;
    text-align: center;
    max-width: 1260px;
    margin: 0 auto;


}
.copyright p{
    padding: 30px;
}



