*{
    margin: auto;

}
.font-inter{
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;

        }

.circle-design .core{
    width: 6px;
    height: 6px;
    background: #30B868FF;
    border-radius: 100%;


}
.circle-design .middle{
    width: 14px;
    height: 14px;
    background: #30B86866;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-design .outer{
    width: 22px;
    height: 22px;
    background: #30B86833;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-topper{
    display: flex;
    align-items: center;
    background: white;
    border-radius: 1000px;
    max-width: 229px;

    margin-top: 115px;
    text-align: center;
    padding: 8px 12px;

}
.banner-topper p{
    display: inline;
    color: #30B868;
    font-size: 16px;
}

.banner-content{
    text-align: center;
}

nav{
    display: flex;
    width: 100%;
    max-width: 1600px;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    padding-top: 16px;

}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;

}
nav .menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.btn{
    padding: 12px 16px;
    border: none;
    background-color: #30B868;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 600;

}

#banner{
    background-image: url("../images/hero-bg.png");
    height: 674px;
    margin: 0px;
    border: 5px solid red;
}

